* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(139 108 108);
    padding: 50px;
    padding-top: 150px;
}

.todo {
  box-sizing: border-box;
  border-style: solid;
  border-color: #cbcbcb;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 40px;
  background-color: #bb9b9b;
}

.heading {
  display: flex;
  border-bottom: solid;
  border-color: #cbcbcb;
  padding-left: 10px;
  justify-content: space-between;
  background-color: white;
}

.reload {
  margin-right: 10px;
  margin-top: 10px;
  height: 20px;
  border: none;
  background: #fff;
}

input {
  border: none;
  font-style: italic;
  outline: none;
  padding-left: 10px;
  width: 100%;
  padding: 10px;
}

.fas {
  width: 3%;
  margin-right: 10px
}

#worr {
  width: 100%;
  margin-right: 10px;
}

.options {
  border: none;
  display: none;
}

#form {
  border-bottom: solid;
  border-color: #cbcbcb;
}

form button {
  margin-right: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

#task-list li {
  list-style: none;
  display: flex;

    justify-content: space-between;
    align-items: center;
}

.formclass {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tasks li {
  list-style-type: none;
  border-bottom: solid;
  border-color: #cbcbcb;
  padding-left: 10px;
}

label {
  padding-left: 10px;
}

#clear {
  border: none;
  width: 100%;
  background-color: #efeded;
  height: 45px;
}

#times {
  display: none;
}
.change #times{
  display: block;
}

.change #pen {
  display: none;
}
