body {
  background-color: rgb(139 108 108);
  padding: 50px;
  padding-top: 150px;
}

section {
  box-sizing: border-box;
  border-style: solid;
  border-color: #cbcbcb;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 40px;
  background-color: #bb9b9b;
}

#list-title {
  display: flex;
  border-bottom: solid;
  border-color: #cbcbcb;
  padding-left: 10px;
  justify-content: space-between;
  background-color: white;
}

#list-title h1 {
  padding-left: 18px;
}

button {
  border: none;
  background-color: white;
}

#list-title button {
  margin-right: 18px;
  padding: 0;
}

input {
  border: none;
}

#input-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  border-bottom: 1px solid lightgray;
}

.each-row {
  padding: 12px 18px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.task-item,
.add-list {
  width: 90%;
}

.row-info {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.row-btn {
  cursor: pointer;
}

.clear-all {
  background-color: lightgray;
  width: 100%;
}

#clear {
  color: black;
  text-decoration: none;
  padding: 18px;
  text-align: center;
  margin: auto auto;
  display: block;
}

.arrow {
  font-size: 20px;
  font-weight: bold;
}

#do-input {
  color: #000;
}

.list {
  height: max-content;
  width: 100%;
}

#message {
  text-align: center;
}
