@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(210, 238, 240);
  padding-top: 10rem;
}

main {
  width: 80%;
  margin: 2rem auto;
  background-color: rgb(220, 229, 230);
}

.head,
form,
.each {
  border-bottom: 1px solid rgb(185, 185, 185);
  padding: 0.5rem 1rem;
}

head h1 {
  color: whitesmoke;
  font-size: 15px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form input {
  width: 95%;
  height: 100%;
  font-style: italic;
  border: none;
  outline: none;
}

form button {
  outline: none;
  background-color: transparent;
  border: none;
}

form i {
  font-size: 16px;
}

.each {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tasks {
  width: 100%;
  height: 30px;
  margin: 0 10px;
  outline: none;
  border: none;
  font-size: 25px;
  padding: 10px 8px;
}

.item {
  height: 15px;
  width: 20px;
  position: relative;
}

.item .goes {
  width: 100%;
  height: 100%;
  border: 2px solid gray;
  background-color: transparent;
}

.item i {
  color: blue;
  display: none;
  font-size: 15px;
}

.it i {
  display: block;
  position: absolute;
  top: 0;
}

.it .white {
  display: none;
}

#trash {
  display: none;
}

.come {
  padding: 0.7rem;
  text-align: center;
  background-color: rgb(203, 203, 203);
}

#clear {
  background: transparent;
  outline: none;
  border: none;
}

